*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: lightyellow;
}


.bg-color{
    background-color: lightblue;
    padding: 20px;
    margin-bottom: 20px;
}


.bg-image{
    background-image: url("https://picsum.photos/600/200");
    background-size: cover;
    height: 200px;
    color: rgb(0, 0, 0);
    padding: 20px;
    margin-bottom: 20px;
}


.bg-repeat{
    background-image: url("https://picsum.photos/100");
    background-repeat: repeat;
    color: rgb(206, 194, 194);
    height: 200px;
    padding: 20px;
    margin-bottom: 20px;
}

.bg-position{
    background-image: url("https://picsum.photos/300");
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    border: 2px solid black;
    padding: 20px;
}

h1{
    text-align: center;
}

div{
    border: 2px solid black;
}