*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: lightyellow;
}
h1{
    text-align: center;
}

/* .box{
    width: 200px;
    height: 200px;
    background-color: lightblue;
    margin: 50px;
    padding: 20px;
    border: 5px solid black;
    margin-left: 43.5%;
    text-align: center;
} */


.box2{
    width: 200px;
    height: 200px;
    background-color: lightcoral;
    margin: 50px;
    padding: 20px;
    border: 5px solid black;
    border-radius: 20px;
    margin-left: 43.5%;
    text-align: center;
}
