*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: lightyellow;
}

/* The display property controls how an HTML element appears on a webpage. */

.block{
    display: block;
    background-color: lightblue;
    margin-bottom: 10px;
}

.inline{
    display: inline;
    background-color: lightgreen;
}

.inline-block{
    display: inline-block;
    width: 100px;
    height: 50px;
    background-color: orange;
    margin: 10px;
}

.hide{
    display: none;
}