
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    padding: 15px 30px;

    background: linear-gradient(
        90deg,
        #2563eb,
        #3b82f6,
        #60a5fa
    );

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo{

    color: white;

    font-family: Arial, sans-serif;
}


ul{
    list-style: none;

    display: flex;

    gap: 20px;
}


a{

    color: white;
    text-decoration: none;
    font-size: 18px;
    border: 2px solid transparent;
    padding: 10px 15px;
    transition: all 0.3s ease;
    border-radius: 20px;

    
}

a:hover{
    border: 2px solid black;
    color: rgb(7, 7, 6);
    background-color: rgb(241, 243, 245);
}